version: "3.8"
services:
  
  web-app:
    build: ./web-app
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: npm start

  machine-learning-client:
    build: ./machine-learning-client
    ports:
      - ""
    environment:
      -
    dns:
      - "5001:5001" #check
    depends_on:
      - db
    volumes: 
      - ./
    command: npm start
  
  db:
    image: mongo:latest
    ports: 
      - "27017:27017"
    