{% extends 'base.html' %}
{% block container %}
<div>
<h1 class="text-center pt-4">Welcome to the Game Dashboard</h1>
<div class="dashboardLinksDiv">
    <a class="dashboardLinks" href="{{ url_for('leaderboard')}}">Leaderboard</a>
    <a class="dashboardLinks" href="{{ url_for('active')}}">Most active users</a>
    <a class="dashboardLinks" href="{{ url_for('comparison')}}">Object comparisons</a>
    <a class="dashboardLinks" href="{{ url_for('statistics')}}">Individual object statistics</a>
    <a class="dashboardLinks" href="{{ url_for('getDrawings')}}">View past drawings</a>
</div>
</div>
{% endblock %}