<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" , href="../static/css/static.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>

<body>
    <header>
        <h1 class="title hide">
            LOGIN
        </h1>
    </header>
    <main>

        <form method="POST" action="/login.html">
            <div id="login-detail">
                <label for="email"><b>Email</b></label><br />
          <input class="input-bar" type="text" placeholder="Email"  name="email"/><br />
        </div>

        <div id="login-detail">
          <label for="password"><b>Password</b></label> <br />
                <input class="input-bar" type="password" placeholder="Password" name="password" />
                <br />
            </div>

            <p class="error">{{message}}</p>

            <button class="login-sign-button" type="submit">LOGIN</button>
        </form>

        <a href="register.html">
            <p class="register"><u> Register </u></p>
        </a>
    </main>
    <footer>
        <div class="footer_div">
            <p>© 2022 Team 4 Containerized App</p>
        </div>
    </footer>
</body>

</html>