<!DOCTYPE html>
<html>

<head>
    <title>
        Register
    </title>
    <link rel="stylesheet" , href="../static/css/static.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>


<body>
    <header>
        <h1 class="title hide">
            REGISTER
        </h1>
    </header>
    <main>
        <h2 class="web-title">
            Register
        </h2>

        <form method="POST" action="/register.html">
            <label for="email"><b>Email</b></label><br />
            <input class="input-bar" type="text" placeholder="Email" name="email"><br />

            <label for="username"><b>Username</b></label><br />
            <input class="input-bar" type="text" placeholder="Username" name="username"><br />

            <label for="password"><b>Password</b></label><br />
            <input class="input-bar" type="password" placeholder="Password" name="password"><br />

            <p class="error">{{message}}</p>

            <button class="login-sign-button" type="submit">
                Register
            </button>
        </form>
        <a href="login.html">
            <p class="login"><u> Login </u></p>
        </a>
    </main>
    <footer>
        <div class="footer_div">
            <p>© 2022 Team 4 Containerized App</p>
        </div>
    </footer>
</body>

</html>