* {
    background-color: #FFFFA7;
}

ul{
    list-style-type:none;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table, th, td{
    padding: 18px;
    border: 1px solid black;
}


